.mainNav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-inline: 1rem;
    align-items: center;
    position: relative;
    top: 0;
    border-bottom: 2px solid var(--tone95);
    padding-block: 1rem;
    background-color: #fff;
    z-index: 999;
    user-select: none;
}

.midSection {
    position: relative;
}

.barIcon {
    cursor: pointer;
    display: none;
    position: relative;
}

.mainMenu {
    display: flex;
    gap: 1rem;
}

.mainMenu>li {
    cursor: pointer;
    transition: color 400ms;
    text-transform: capitalize;
}

.mainMenu>li:hover {
    color: var(--mainColor);
}

.rightNavCont {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.rightNavCont>* {
    cursor: pointer;
}



@media only screen and (max-width: 1000px) {
    .barIcon {
        display: block;
    }

    .mainMenu {
        display: grid;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        background-color: #fff;
        padding: 1rem;
    }

}


@keyframes spin {}