.mainNav {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    font-weight: bold;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 2px solid var(--tone95);
    padding-block: 1rem;
}

.mainMenu {
    display: flex;
    gap: 1rem;
}

.mainMenu>li {
    cursor: pointer;
    transition: color 400ms;
    text-transform: capitalize;
}

.mainMenu>li:hover {
    color: var(--mainColor);
}

.rightNavCont {
    display: flex;
    gap: 1rem
}

.rightNavCont>* {
    cursor: pointer;
}