.categoryButton {
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 2px solid var(--tone95);
    display: flex;
    gap: .5rem;
    align-items: center;
    transition: background-color 400ms;
    cursor: pointer;
    white-space: nowrap;
}

.categoryButton:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.categoryButton>span {
    font-size: var(--smallFontSize);
}